{{!-- 
 * - Developer: Ryan Hatch
 * - Date of development: 2024/24/11
Date of last modification: 2024/27/11
Version: 5.0
--}}

<!-- error.hbs -->
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>


<!--
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
-->