<!DOCTYPE html>
{{!-- * - Developer: Ryan Hatch
Date of development: 11/24/2024
*Date of last modification: 12/12/2024
Version: 7.1
 * - Descriptition: This is the index page of the website. It displays the latest blog and testimonials.
--}}
<html>
<head>
	<meta charset="UTF-8">
	<title>Buy Expensive Vacations Just To Get Stuck There Forever.</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div id="adbox">
					<img src="images/sea-sound.jpg" alt="Img">
					<h1>Welcome to the vacation resorts, by all means take a look around!</h1>
					<p>
						In the meantime, if you get bored here is a game! <a href="https://ryanshatch.com/Flappy-Bird">Flappy Bird</a>, made just for you, all for free. Play as much as you want. <a href="https://www.ryanshatch.com/">Official Website</a>.
					</p>
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest from Our Resorts</h3>
								<ul>
									<li>
										<h4><a href="news.html">2023 Best Beaches Contest Winners</a></h4>
										<span>April 02, 2023</span>
										<p>Imagine this: you, laid back on sands that sparkle under a tropical sun, where every grain seems like a tiny diamond. This is where luxury meets paradise. It’s not just a place, it’s the event of the year that no VIP would want to miss.</p>
									</li>
									<li>
										<h4><a href="news.html">Top 10 Diving Spots</a></h4>
										<span>May 29, 2023</span>
										<p>Ready to dive into the deep? These spots are not just for diving, they're for experiencing another level of life. Think corals that seem like they’re straight out of an art exhibition, and waters so clear you’ll forget the sky.</p>
									</li>
								</ul>
							</div>

							<div id="testimonials" class="box">
								<h3>Testimonials</h3>
								<p>"In this place, every corner is a postcard. It’s the only site where reality surpasses Instagram photos. From the moment you arrive, you feel like royalty. There’s no other destination that can top this experience." <span>- <a href="index.html">Juan De La Cruz</a></span></p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="rooms.html"><img src="images/rooms.png" alt="Img"></a>
					</div>
					<div class="section">
						<a href="dives.html"><img src="images/dive-site.png" alt="Img"></a>
					</div>
					<div class="section">
						<a href="foods.html"><img src="images/food.png" alt="Img"></a>
					</div>
				</div>
				</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</body>
</html>